.container {
  max-width: 960px;
}

/*Esto pero no con el body, con los apartados que toquen
body{
  text-align: center;
  color: white;
}*/

h1{
  margin: 1;
}

ul{
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
}

/*Cambiar esto para que no afecte abajo*/
ul li{
  padding: 0 1rem;
}

.featurette-divider{
  background: #ffffff;
} 

.section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.rounded-circle{
  left: 40px;
}

.section-inner {
  padding: 3rem;
}


#section-1 {
  background: #36acdc;
}

#section-2 {
  background: #2b9cca;
}

#section-3 {
  background: #1d8ebd;
}

#section-3-1 {
  background: #1d8ebd;
}

#section-4 {
  background: #1180ae;
}

#section-5 {
  background: #05729e;
}

.transition {
  height: 20vh;
}

.transition-1 {
  background: linear-gradient(#36acdc, #2b9cca);
}

.transition-2 {
  background: linear-gradient(#2b9cca, #1d8ebd);
}

.transition-3 {
  background: linear-gradient(#1d8ebd, #1180ae);
}

.transition-4 {
  background: linear-gradient(#1180ae, #05729e);
}



/*
 * Custom translucent site header
 */

 .carouselDepths{
  -webkit-transition: 1.5s ease-in-out left;
  -moz-transition: 1.5s ease-in-out left;
  -o-transition: 1.5s ease-in-out left;
  transition: 1.5s ease-in-out left;
}




.site-header {
  background-color: rgba(0, 0, 0, .85);
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
}
.site-header a {
  color: #999;
  transition: ease-in-out color .15s;
}
.site-header a:hover {
  color: #fff;
  text-decoration: none;
}

.border-top { border-top: 1px solid #e5e5e5; }
.border-bottom { border-bottom: 1px solid #e5e5e5; }

.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}


#description1 {
  white-space: pre-line;
}

#description2 {
  white-space: pre-line;
}

#description3 {
  white-space: pre-line;
}

#description4 {
  white-space: pre-line;
}

#roles {
  margin-left: 30px;
}

#gddDiv {
  display: none;
}

#NewGame {
  position: absolute;
  top: 32%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #555;
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  text-align: center;
}

#soundButtons {
  position: absolute;
  top: 54%;
  left: 50%;
  transform: translate(-50%, +50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #555;
  color: white;
  font-size: 5px;
  padding: 5px 8px;
  border: none;
  cursor: pointer;
  border-radius: 8px;
  text-align: center;
}

#btnMusic {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #555;
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  text-align: center;
}

.flex-equal > * {
  -ms-flex: 1;
  -webkit-box-flex: 1;
  flex: 1;
}
@media (min-width: 768px) {
  .flex-md-equal > * {
    -ms-flex: 1;
    -webkit-box-flex: 1;
    flex: 1;
  }
}

.overflow-hidden { overflow: hidden; }
